<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
	<module name="SuppressionCommentFilter">
		<property name="offCommentFormat"
			value="CHECKSTYLE.OFF\: ([\w\|]+)" />
		<property name="onCommentFormat"
			value="CHECKSTYLE.ON\: ([\w\|]+)" />
		<property name="checkFormat" value="$1" />
	</module>
	<module name="JavadocPackage" />
	<module name="FileLength">
		<property name="max" value="2500" />
	</module>
	<module name="TreeWalker">
		<module name="FileContentsHolder" />
		<module name="JavadocMethod">
			<property name="scope" value="protected" />
			<property name="allowUndeclaredRTE" value="true" />
		</module>
		<module name="JavadocType">
			<property name="scope" value="public" />
		</module>
		<module name="JavadocVariable">
			<property name="scope" value="public" />
		</module>
		<module name="JavadocStyle">
			<property name="checkFirstSentence" value="false" />
		</module>
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="PackageName" />
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />
		<module name="IllegalImport" />
		<module name="RedundantImport" />
		<module name="UnusedImports" />
		<module name="MethodLength" />
		<module name="ParameterNumber" />
		<module name="EmptyForIteratorPad" />
		<module name="GenericWhitespace" />
		<module name="MethodParamPad" />
		<module name="OperatorWrap" />
		<module name="ParenPad" />
		<module name="TypecastParenPad" />
		<module name="WhitespaceAfter" />
		<module name="RedundantModifier" />
		<module name="AvoidNestedBlocks" />
		<module name="EmptyBlock" />
		<module name="LeftCurly" />
		<module name="RightCurly" />
		<module name="EmptyStatement" />
		<module name="EqualsHashCode" />
		<module name="IllegalInstantiation" />
		<module name="InnerAssignment" />
		<module name="ModifiedControlVariable" />
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="StringLiteralEquality" />
		<module name="MultipleVariableDeclarations" />
		<module name="OverloadMethodsDeclarationOrder" />
		<module name="FinalClass" />
		<module name="HideUtilityClassConstructor" />
		<module name="InterfaceIsType" />
		<module name="VisibilityModifier">
			<property name="allowPublicFinalFields" value="true" />
		</module>
		<module name="ArrayTypeStyle" />
		<module name="TodoComment" />
		<module name="UpperEll" />
	</module>
</module>